<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic template</title>
</head>
<body>
    <!-- We can use control flow expressions inside the HTML code this way. -->
    <ul>

        {% for number in example_list %}
            <li>{{number}}</li>
        {% endfor %}

    </ul>

    {% if example_bool %}
        <p>Condition in if statement is true</p>
    {% else %}
        <p>Condition in if statement is false</p>
    {% endif %}
</body>
</html>