{% extends "base.html" %}

{% block content %}
<div class="mt-4 p-5 highlightbox text-muted rounded text-center">
    <p>Please provide the following data in order to sign up</p>
    <form action="{{url_for('thank_you')}}">
        <input class="form-control-sm" type="text" name="first_name" placeholder="First Name">
        <input class="form-control-sm" type="text" name="last_name" placeholder="Last Name">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}